Repository open-goal/jak-project, pull requests merged in 2023-01, with the labels that each got.

#2074 add `ja` `zero` func
  decompiler/analysis/insert_lets.cpp
  decompiler/config/jak2_ntsc_v1.jsonc
  goal_src/jak2/engine/process-drawable/process-drawable-h.gc
  test/decompiler/reference/jak2/decompiler-macros.gc
Labels: jak2

#2160 Fix F2 screenshots
  game/graphics/opengl_renderer/OpenGLRenderer.cpp
  game/graphics/pipelines/opengl.cpp
Labels: game

#2162 Jak 1 Checkpoint Select / IL Speedrun support
  Taskfile.yml
  decompiler/config/all-types.gc
  game/assets/jak1/text/game_text_en.gs
  goal_src/jak1/dgos/game.gd
  goal_src/jak1/engine/game/game-info.gc
  goal_src/jak1/engine/game/main.gc
  goal_src/jak1/engine/target/target-death.gc
  goal_src/jak1/engine/ui/progress/progress-h.gc
  goal_src/jak1/engine/ui/progress/progress.gc
  goal_src/jak1/engine/ui/text-h.gc
  goal_src/jak1/game.gp
  goal_src/jak1/levels/ogre/ogreboss.gc
  goal_src/jak1/pc/features/speedruns-h.gc
  goal_src/jak1/pc/features/speedruns.gc
  goal_src/jak1/pc/progress-pc.gc
Labels: jak1
