Repository open-goal/jak-project, pull requests merged in 2023-03, with the labels that each got.

#2316 [jak2] `force-envmap?` hack
  goal_src/jak2/engine/gfx/foreground/foreground.gc
  goal_src/jak2/pc/debug/default-menu-pc.gc
  scripts/gsrc/code_retention/all_types_retention.py
Labels: enhancement, game, jak2

#2330 [jak2] un-hardcode level-related code a bit
  common/goal_constants.h
  common/versions.h
  decompiler/config/jak2/all-types.gc
  game/graphics/opengl_renderer/BucketRenderer.h
  game/graphics/opengl_renderer/OpenGLRenderer.cpp
  game/graphics/pipelines/opengl.cpp
  game/kernel/jak2/kmachine.cpp
  goal_src/goos-lib.gs
  goal_src/jak2/engine/collide/collide-edge-grab.gc
  goal_src/jak2/engine/debug/editable.gc
  goal_src/jak2/engine/draw/drawable.gc
  goal_src/jak2/engine/entity/entity.gc
  goal_src/jak2/engine/game/game-info-h.gc
  goal_src/jak2/engine/game/game-info.gc
  goal_src/jak2/engine/geometry/path.gc
  goal_src/jak2/engine/gfx/background/background-h.gc
  goal_src/jak2/engine/gfx/background/background.gc
  goal_src/jak2/engine/gfx/foreground/foreground-h.gc
  goal_src/jak2/engine/gfx/foreground/foreground.gc
  goal_src/jak2/engine/gfx/hw/display.gc
  goal_src/jak2/engine/gfx/merc/merc.gc
  goal_src/jak2/engine/gfx/mood/time-of-day.gc
  goal_src/jak2/engine/gfx/texture/texture.gc
  goal_src/jak2/engine/gfx/tfrag/tfrag-methods.gc
  goal_src/jak2/engine/gfx/tie/tie-methods.gc
  goal_src/jak2/engine/gfx/vu1-user-h.gc
  goal_src/jak2/engine/level/level-h.gc
  goal_src/jak2/engine/level/level.gc
  goal_src/jak2/engine/level/region.gc
  goal_src/jak2/engine/load/load-state.gc
  goal_src/jak2/engine/load/loader.gc
  goal_src/jak2/engine/nav/nav-control.gc
  goal_src/jak2/engine/nav/nav-mesh.gc
  goal_src/jak2/engine/process-drawable/process-drawable.gc
  goal_src/jak2/engine/ui/minimap.gc
  goal_src/jak2/engine/ui/progress/progress-draw.gc
  goal_src/jak2/pc/debug/pc-debug-methods.gc
  scripts/batch/extract-jak1_us2.bat
  scripts/batch/extract-jak2.bat
  test/decompiler/reference/jak2/engine/level/level-h_REF.gc
Labels: jak2

#2331 [jak2] double load dgo workaround
  game/overlord/iso.cpp
  game/overlord/iso.h
  game/overlord/iso_queue.cpp
  goal_src/jak2/engine/level/level-h.gc
  goal_src/jak2/engine/level/level.gc
  goal_src/jak2/game.gp
Labels: jak2

#1568 Italian subtitles (WIP)
  game/assets/jak1/game_subtitle.gp
  game/assets/jak1/subtitle/game_subtitle_it.gd
  game/assets/jak1/text/game_text_it.gs
  goal_src/jak1/pc/debug/default-menu-pc.gc
  goal_src/jak1/pc/progress-pc.gc
Labels: jak1, translations
